*{
padding: 0;
margin: 0;
box-sizing: border-box;

}
.indexarkaplan{
     background: url(./img/pexels-lood-goosen-1235706.jpg)
    no-repeat center fixed; 
   background-size: cover;
}
a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 2rem;
    margin: 1rem 1rem;
    padding: 1rem;
}

h1{
text-align: center;
font-size: 6rem;
color:#FCFFA6
}
nav{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

/* kahveler sayfası için */
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    width: 380px;
  }
  div.gallery:hover {
    border: 1px solid #777;
  }
  div.gallery img {
    width: 100%;
    height: auto;
  }
  div.desc {
    padding: 15px;
    text-align: center;
  }
.container{
  margin:100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* adress */
.iletisim{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
list-style-type: none;
height: 200px;
width: auto;
background-color: darkgreen;
border: 3px solid black;


}